* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 512px;
    border-radius: 8px;
    overflow: hidden;
}

#chess-canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}